body {
    font-family: 'Roboto' ,sans-serif;
    color:  #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
    display: block;
}

.head-border {
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
    display: flex;
}

.header-container {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway" ,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.black-logo {
    color: #2E2F42;
}

.menu {
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: flex;
}

.menu:hover 
,.menu:focus 
,.menu:active{
    color: #404BBF;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-address {
    font-style: normal;
}

.address-container {
    display: flex;
    gap: 40px;
    margin-left: 332px;
}

.contact-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.contact-text:hover 
,.contact-text:focus 
,.contact-text:active {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-text {
    color: #fff;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
    text-align: center;
}

.hero-button {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:#4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.advantages {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 72px) / 4);
}

.feature-title {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.feature-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team-title {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.name-title {
    padding: 32px 0;
}

.profession {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-text-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.project-card-title {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}


.project-card-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.white-logo {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}